/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
* Basic styling
*/
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  padding: 0;
  margin: 0;

  // begin background effect
  @-webkit-keyframes background_keyframes {
    0% {
      background-color: darken($background-color, 20%);
    }
    100% {
      background-color: $background-color;
    }
  }
  animation: background_keyframes 500ms;
  animation-timing-function: ease-out;
  // end background effect
}


/**
* Lists
*/
ul, ol {
  margin: ($spacing-unit) 0 ($spacing-unit) ($spacing-unit * 2);
}

/**
* Headings
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight + 200;
  text-transform: capitalize;
  margin-bottom: $spacing-unit;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
  margin-top: $spacing-unit * 2;
}

h3 {
  font-size: 1.0em;
}



/**
* Links
*/
a {
  color: $link-color;
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    color: lighten($link-color, 10%);
  }
}


/**
* Code formatting
*/
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
  word-wrap: break-word;

  @include media-query($on-palm) {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  word-wrap: break-word;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
* Wrapper
*/
.width-clamp {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;

  @include media-query($on-palm) {
    max-width: none;
    margin-right: 0;
    margin-left: 0;
  }
}
