body {
  .site-header {
    text-transform: uppercase;
    font-size: 16px;

    a {
      font-size: 40px;
      margin-bottom: 0;
      color: inherit;
      font-weight: 300;

      &:hover {
        color: inherit;
      }

      @include media-query($on-palm) {
        font-size: 32px;
        letter-spacing: 0.05em;
      }
    }
  }


  nav {
    display: block;
    display: inline-block;
    vertical-align: top;
    margin-top: $spacing-unit;

    a {
      color: inherit;
      display: block;
      margin: ($spacing-unit / 2) 0;
      text-transform: uppercase;
      min-width: 160px;

      &:hover {
        color: inherit;
      }
    }
  }

  video {
    max-width: 100%;
  }

  .reading {
    display: inline-block;
    margin: (4 * $spacing-unit) 0;
    max-width: $reading-width;

    @include media-query($on-palm) {
      margin: (2 * $spacing-unit) 0;
      max-width: 100%;
    }
  }

  .spread {
    margin: (2 * $spacing-unit) 0;
  }

  video {
    max-width: 100%;
  }

  footer {
    text-align: center;
    padding: 10px 0;
  }
}
