body.landing {
  position: relative;
  background-color: black;
  background-image: url(https://dl.dropboxusercontent.com/u/1279136/projectionist/productions/snow-straight/poster600.png);
  background-size: 100% auto;
  cursor: default;

  color: rgba(240,240,220,0.85);
  text-shadow: 0 0 7px rgba(240,240,220, 0.6);

  @include user-select-none();

  #landing_video {
    display: none;
  }

  .landing_video-dimensions, video {
    width: 100%;
    height: auto;
  }

  .site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .site-title {
      display: none;
    }
  }

  a {
    color: yellow;
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255,255,100, 0.95);
    @include blur(1px);
    background-color: rgba(0,0,0,0.6);

    &:hover {
      text-shadow: 0 1px 2px yellow;
    }
  }

  .overlay {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;

    letter-spacing: 0.05em;

    .width-clamp {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 800px;
      height: 100%;
    }

    h1 {
      display: inline-block;
      position: relative;
      top: 0px;
      left: 0;
      margin: 0;
      margin-top: 100px;
      padding: 0;

      font-size: 80px;
      text-transform: uppercase;
      font-weight: 400;

      color: rgba(240,240,220,0.65);
      @include blur(1.25px);
    }

    .subtext-container {
      display: inline-block;
      position: relative;
      top: 5px;
      left: 5px;
      width: 80%;

      .brief a {
        color: inherit;
        text-shadow: inherit;
        background-color: inherit;

        &:hover {
          text-shadow: 0 1px 2px yellow;
        }
      }

      .brief {
        font-size: 32px;
        font-weight: 400;
        @include blur(1.25px);
      }

      .attribution {
        font-size: 16px;
        display: inline-block;
        position: relative;
        top: 160px;
        left: 0;
      }
    }
  }
}
