body.landing {
  position: relative;
  background-image: url(https://dl.dropboxusercontent.com/u/1279136/projectionist/productions/snow-straight/poster600.png);
  background-size: 100% auto;

  #landing_video {
    display: none;
  }

  .landing_video-dimensions, video {
    width: 100%;
    height: auto;
  }

  .overlay {
    z-index: 1000000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    color: rgba(255,255,200,0.85);
    -webkit-filter: blur(1px);

    .width-clamp {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 800px;
      height: 100%;
    }

    h1 {
      width: 100%;
      padding-top: 100px;
      margin: 0;

      font-size: 80px;
      text-transform: uppercase;
      font-weight: 400;

      -webkit-filter: blur(1.5px);
    }

    .brief {
      position: relative;
      top: 0;
      left: 5px;
      font-size: 32px;
      font-weight: 400;
      width: 100%;
    }
  }
}
