body.landing {
  position: relative;

  // background settings
  background-color: black;
  background-image: url(https://dl.dropboxusercontent.com/u/1279136/projectionist/productions/snow-straight/poster600.png);
  background-size: 100% auto;

  cursor: default;

  color: rgba(240,240,220,0.85);
  text-shadow: 0 0 7px rgba(240,240,220, 0.6);

  @include user-select-none();

  // begin unblur effect on page load

  @keyframes blur_keyframes {
    0%   {
      @include blur(10px);
    }
    100% {
      @include blur(0px);
    }
  }
  @include blur(0px);
  animation: blur_keyframes 1s;
  animation-timing-function: ease-out;
  // end unblur effect

  // hide the video background for iOS
  #landing_video {
    display: none;
  }

  .landing_video-dimensions, video {
    width: 100%;
    height: auto;
  }

  .site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.35);

    .site-title {
      display: none;
    }
  }

  .site-nav {
    background-color: transparent;
  }

  a {
    color: $branded-link-color;
    font-weight: 400;
    text-shadow: 0 1px 2px $branded-link-color;
    background-color: rgba(0,0,0,0.6);
    @include blur(1px);

    &:hover {
      color: darken($branded-link-color, 20%);
      text-shadow: 0 1px 2px $branded-link-color;
    }
  }

  .overlay {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    letter-spacing: 0.05em;

    h1 {
      display: inline-block;
      border-radius: 25px;
      background-color: rgba(0,0,0,0.3);
      box-shadow: 0 0 15px rgba(0,0,0,0.7);
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      margin-top: 120px;
      padding: 0;
      letter-spacing: 0.05em;

      font-size: 80px;
      line-height: 80px;
      text-transform: uppercase;
      font-weight: 400;

      color: $brand-color;
      @include blur(1.25px);

      @include media-query($on-palm) {
        font-size: 30px;
        line-height: 30px;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
      }
    }

    .subtext-container {
      display: inline-block;
      position: relative;
      top: 40px;
      left: 5px;
      width: 80%;

      @include media-query($on-palm) {
        left: 3px;
        top: 5px;
      }

      .brief {
        display: inline-block;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 0 0 5px rgba(0,0,0,0.7);
        font-size: 32px;
        line-height: 32px;
        font-weight: 400;

        @include blur(1.25px);
        @include media-query($on-palm) {
          font-size: 16px;
          line-height: 16px;
          border-radius: 0;
          box-shadow: none;
          background-color: transparent;
        }
      }

      .attribution {
        font-size: 16px;
        line-height: 16px;
        display: inline-block;
        position: relative;
        top: 15px;
        left: 0;
      }
    }
  }
}
