.projections-index {
  $tile-width: 200px;
  $poster-height: 0.75 * $tile-width;

  li {
    display: inline-block;
    width: $tile-width;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: $grey-color-light;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 1em;
    }

    .mini-poster {
      width: $tile-width;
      height: $poster-height;
      background-repeat: no-repeat;
      background-size: $tile-width $poster-height;
    }
  }
}

.projection-about {
  .projection-poster {
    display: block;
    width: 100%;
    max-width: 600px;
  }

  h2 {
    
  }
}
