.projections-index  {
  ul {
    $tile-width: 200px;
    $poster-height: 0.75 * $tile-width;
    text-align: center;
    margin: 0;
    padding: 5px;

    li {
      display: inline-block;
      width: $tile-width;
      padding: 10px;
      margin: 10px;

      .title {
        color: $text-color;
        text-transform: uppercase;
        font-weight: 500;
        padding: 5px 0;

        &:hover {
          color: $text-color;
        }
      }

      .mini-poster {
        width: $tile-width;
        height: $poster-height;
        background-repeat: no-repeat;
        background-size: $tile-width $poster-height;
      }
    }
  }
}

.projection-about {
  .post-title {

  }

  .post-content {
    margin: $spacing-unit 0;
  }

  .projection-poster {
    display: block;
    width: 100%;
    max-width: 600px;
  }

  .post-footer {
    margin: $spacing-unit 0;
  }
}
